{% extends 'base.html' %}
{% block content %}
    <img 
        width="200px"
        src="https://i.pinimg.com/originals/97/56/4d/97564d56568d5f232cb760d413d5ec3a.jpg"/>
    <p>
    <h1>랫츠코딩앤플레이</h1>
    </p>
    <p>
        <button>
            프로필 편집
        </button>
    </p>
    <p>
        <strong>장민재<br/></strong>
        학생<br/>
    </p>
    <p>
        <a href = "https://www.ncdinos.com/">
        https://www.ncdinos.com/
        </a>
    <br/>
    </p>
    <p>
        <ul>
            {% for f in feed_list %}
            <li>
                <a href ="{% url 'edu:feed_detail' f.id %}">{{ f.content }}</a>
                <img src="/media/{{ f.photo }}"/>
            </li>
            {% endfor %}
        </ul>
    </p>
    <p>
        게시물<br/>
        팔로워<br/>
        133<br/>
        408<br/>
        189<br/>
    </p>
{% endblock %}
